<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cslc.demo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="25" />

    <!-- 权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 扫描二维码 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />


    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.QrCodeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.TimeCountActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.NetStatusActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.UniformWidgetActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.MulTextCheckBoxActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.PopWindowActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.TextViewActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.PageIndicatorActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.SlideMenuActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.NotificationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.LoadImagActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.PagerSlidingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.CaptureActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.RecyclerViewActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.RvLv1Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.RvLv2Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.RvLv3Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.RvLv4Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.DialogActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.LitePalActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>